<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>尚名校</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/details.css">
    <link rel="stylesheet" href="stylesheets/style_recommened.css">
</head>
<body>
<% include navigation.ejs %>
<div class="head">
    <div class="header">
        <div class="headphoto"><img src="img/headphoto.png" width="91px" height="88px"></div>
        <div class="headpassage">
            <p1>易婷</p1>
            <br>
            <p2>个性签名：欢迎来到尚名校，welcome to SMX</p2>
        </div>
        <div class="headlogo"><img src="img/headlogo.png" width="119px" height="100px"></div>
    </div>
</div>
<div class="main">
    <div class="content">
        <div class="s-left">
            <div class="guide"><a href="/student">我的课程</a></div>
            <div class="guide"><a href="/course_re">推荐课程</a></div>
            <div class="guide"><a href="/student_detail">个人资料</a></div>
        </div>

        <div class="s-right"  >

            <div class="right-guide" id="right-guide">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#">筛选课程</a></li>
                    <li><a href="#">申请课程</a></li>
                </ul>
            </div>

            <div class="right-content" id="right-content">

                <div class="mod">

                    <%if(AllCourse.length == 0){%>
                    <%}AllCourse.forEach(function (item) { %>

                    <div class="box">
                        <img src="img/picture.jpg"/>
                            <div class="course-title"><a><%=item.courseSeriesName%></a></div>
                            <div class="course-info">
                                <a><%=item.room%></a>
                                <a><%=item.time%></a>
                                <a class="name"><%=item.teacher%></a>
                                <a class="subject" style="display: none"><%=item.courseSeriesSubject%></a>
                                <a class="grade" style="display: none"><%=item.courseSeriesGrade%></a>
                            </div>
                            <div class="pro-bac"></div>
                            <div class="pro-fro"></div>
                            <div class="course-time"><a>截止时间：2017-7-14</a>
                                <a>22:00</a></div>
                        </div>
                    <%})%>
                </div>


                <div class="mod" style="display:none;">
                    <div class="box" style="background:#CFE6E5;">
                        <label>科目：</label>
                        <select onchange="Sel()" id="subjectSelect">
                                <option value="不限">不限</option>
                                <option value="语文">语文</option>
                                <option value="数学">数学</option>
                                <option value="英语">英语</option>
                                <option value="物理">物理</option>
                        </select>
                        <label>年级：</label>
                        <select onchange="Sel()" id="classSelect">
                                <option value="不限">不限</option>
                                <option value="高一">高一</option>
                                <option value="高二">高二</option>
                                <option value="高三">高三</option>
                        </select>
                        <label>老师：</label>
                        <select onchange="Sel()" id="nameSelect">
                            <option value="不限">不限</option>
                            <option value="齐书强">齐书强</option>
                            <option value="李金泰">李金泰</option>
                            <option value="赵宇航">赵宇航</option>
                        </select>
                    </div>

                    <%if(AllCourse.length == 0){%>
                    <%}AllCourse.forEach(function (item) { %>
                    <div class="box boxSel">
                        <img src="img/picture.jpg"/>
                        <div class="course-title classAndSubject"><a><%=item.courseSeriesName%></a></div>
                        <div class="course-info">
                            <a><%=item.room%></a>
                            <a><%=item.time%></a>
                            <a class="name"><%=item.teacher%></a>
                            <a class="subject" style="display: none"><%=item.courseSeriesSubject%></a>
                            <a class="grade" style="display: none"><%=item.courseSeriesGrade%></a>
                        </div>
                        <div class="pro-bac"></div>
                        <div class="pro-fro"></div>
                        <div class="course-time"><a>截止时间：2017-7-14</a>
                            <a>22:00</a></div>
                    </div>
                    <%})%>
                </div>





                <div class="mod" style="display:none;">
                    <div class="apply">
                        <form>
                            <label>科目</label>
                            <input type="text" placeholder="请输入选择的课程" />
                        </form>
                        <form>
                            <label>年级</label>
                            <input type="text" placeholder="请输入你的年级" />
                        </form>
                        <form>
                            <label>内容</label>
                            <textarea rows="10" cols="51"></textarea>
                        </form>
                        <form>
                            <label>时间</label>
                            <input type="text" placeholder="请输入年/月/日" />
                        </form>
                        <div class="submit">
                            <input type="submit" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src = "javascripts/jquery.min.js">
</script>

<script>

    var boxList = document.getElementsByClassName("boxSel")

    function Sel() {

        var nameSelect = document.getElementById("nameSelect").value;
        var classSelect = document.getElementById("classSelect").value;
        var subjectSelect = document.getElementById("subjectSelect").value;

        console.log("select name:"+nameSelect+" subject:"+classSelect+" grade:"+subjectSelect)
        for(var i=0;i<boxList.length;i++)
        {
            console.log(boxList[i])
            var name = boxList[i].getElementsByClassName("name")[0].text;
            var subject = boxList[i].getElementsByClassName("subject")[0].text;
            var grade = boxList[i].getElementsByClassName("grade")[0].text;
            console.log("name:"+name+" subject:"+subject+" grade:"+grade)
            if((nameSelect == "不限" || nameSelect == name) &&
                (classSelect == "不限" || classSelect == grade) &&
                (subjectSelect == "不限" || subjectSelect == subject)){
                $(boxList[i]).show()
                console.log("show")
            }
            else
            {
                $(boxList[i]).hide()
                console.log("hide")
            }
        }

    }

//    function $(id) {
//        return typeof id === 'string' ? document.getElementById(id) : id;
//    }
    window.onload = function () {
        var titles = document.getElementById('right-guide').getElementsByTagName('li');
        var divs = document.getElementById('right-content').getElementsByClassName('mod');

        for (var i = 0; i < titles.length; i++) {
            titles[i].id = i;
            titles[i].onclick = function () {
                for (var j = 0; j < titles.length; j++) {
                    titles[j].className = ' ';
                    divs[j].style.display = 'none';
                }
                this.className = 'select';
                divs[this.id].style.display = 'block';
            }
        }
    }




</script>