<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>尚名校</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/details.css">
    <link rel="stylesheet" href="stylesheets/admin.css">
</head>
<body>
<% include navigation.ejs %>

<div class="head">
    <div class="header">
        <div class="headphoto"><img src="img/headphoto.png" width="91px" height="88px"></div>
        <div class="headpassage">
            <p1>齐书强</p1>
            <br>
            <p2>18742585736</p2>
        </div>
        <div class="headlogo"><img src="img/headlogo.png" width="119px" height="100px"></div>
    </div>
</div>

<div class="main">
    <div class="content">
        <div class="s-left">
            <div class="guide"><a href="/education">课程管理</a></div>
            <div class="guide"><a href="/education_teacher">教师管理</a></div>
            <div class="guide"><a href="/education_detail">个人信息</a></div>
        </div>

        <div class="s-right">
            <div class="right-guide" id="right-guide">
                <ul>
                    <li><a href="#">课程列表</a></li>
                    <li><a href="#">筛选课程</a></li>
                    <li><a href="#">添加课程</a></li>
                    <li><a href="#">课程审核</a></li>
                </ul>
            </div>
            <div class="right-content" id="right-content">
                <div class="mod">

                    <%if(allCourse.length == 0){%>
                    <h style="text-align: center;margin:10px">没有课程</h>
                    <%}allCourse.forEach(function (item) { %>

                    <div class="box">
                        <img src="img/picture.jpg"/>

                        <div class="course-title"><a><%=item.seriesName%></a></div>
                        <div class="course-info"><a><%=item.number%></a></div>
                        <div class="course-info" style="margin-top:100px;"><a><%=item.grade%></a></div>
                        <div class="course-info"><a><%=item.subject%></a></div>
                        <div class="pro-bac"></div>
                        <div class="pro-fro"></div>
                    </div>
                    <%})%>
                </div>

                <div class="mod" style="display:none;">
                    <div class="box" style="background:#CFE6E5;">
                        <label>科目：</label>
                        <select onchange="Sel()" id = "subjectSelect">
                            <option value="不限">不限</option>
                            <option value="语文">语文</option>
                            <option value="数学">数学</option>
                            <option value="英语">英语</option>
                            <option value="物理">物理</option>
                        </select>
                        <label>年级：</label>
                        <select onchange="Sel()" id = "classSelect">
                            <option value="不限">不限</option>
                            <option value="高一">高一</option>
                            <option value="高二">高二</option>
                            <option value="高三">高三</option>
                        </select>
                    </div>

                    <%if(allCourse.length == 0){%>
                    <h style="text-align: center;margin:10px">没有课程</h>
                    <%}allCourse.forEach(function (item) { %>

                    <div class="box boxSel">
                        <img src="img/picture.jpg"/>

                        <div class="course-title"><a><%=item.seriesName%></a></div>
                        <div class="course-info"><a><%=item.number%></a></div>
                        <div class="course-info" style="margin-top:100px;"><a class="grade"><%=item.grade%></a></div>
                        <div class="course-info"><a class="subject"><%=item.subject%></a></div>
                        <div class="pro-bac"></div>
                        <div class="pro-fro"></div>
                    </div>
                    <%})%>
                </div>

                <div class="mod" style="border:1px solid transparent; display:none;">
                    <div class="basic">
                        <div class="basic-title"><span>基本信息</span></div>
                        <form>
                            <label>名称</label>
                            <input id="courseSeriesName" type="text" />
                        </form>
                        <form>
                            <label>年级</label>
                            <input id="courseSeriesGrade" type="text" />
                        </form>
                        <form>
                            <label>课时</label>
                            <input id="courseSeriesNumber" type="text" />
                        </form>
                        <label><span>介绍</span></label>
                        <form style="margin-left:20px;">
                            <textarea rows="8" cols="36" id="courseSeriesIntro"></textarea>
                        </form>
                    </div>

                    <div class="course">
                        <div class="basic-title"><span>课时内容</span></div>
                        <form>
                            <label>课时一</label>
                            <input type="text" placeholder="年/月/日"/>
                        </form>
                        <form>
                            <label>课时二</label>
                            <input type="text" placeholder="年/月/日"/>
                        </form>
                        <form>
                            <label>课时三</label>
                            <input type="text" placeholder="年/月/日"/>
                        </form>
                    </div>
                    <button class="sub" onclick="addCourseSeries()">提交</button>
                </div>

                <div class="mod" style="display:none;">
                    <%if(postCourse.length == 0){%>
                        <h style="margin:10px;text-align: center">当前没有申请中的课程</h><br>
                    <%}else{
                        postCourse.forEach(function (item) { %>
                    <div style="background:white; height:500px; padding-top:40px;">
                        <table>
                            <tbody>
                            <tr style="background:#BCC6F6;">
                                <td>序号</td>
                                <td>加盟店名</td>
                                <td>申请学生数</td>
                                <td>开设年级</td>
                                <td>课程名</td>
                                <td style="width:150px;"></td>
                            </tr>
                            <tr>
                                <td>001</td>
                                <td>台安店</td>
                                <td>5人</td>
                                <td>高一</td>
                                <td>三角函数</td>
                                <td>
                                    <button class="agree">同意</button>
                                    <button class="disagree">驳回</button>
                                </td>
                            </tr>
                            <tr>
                                <td>002</td>
                                <td>大连店</td>
                                <td>7人</td>
                                <td>高二</td>
                                <td>立体几何</td>
                                <td>
                                    <button class="agree">同意</button>
                                    <button class="disagree">驳回</button>
                                </td>
                            </tr>
                            <tr>
                                <td>003</td>
                                <td>沈阳店</td>
                                <td>3人</td>
                                <td>高三</td>
                                <td>函数导数</td>
                                <td>
                                    <button class="agree">同意</button>
                                    <button class="disagree">驳回</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <%})
                    }%>
                </div>

            </div>
        </div>
    </div>
</div>
<p id="hint"></p>
</body>
<script src="javascripts/jquery.min.js">
</script>
<script>

//    function $(id) {
//        return typeof id === 'string' ? document.getElementById(id) : id;
//    }
    var boxList = document.getElementsByClassName("boxSel")

    function Sel() {

        var classSelect = document.getElementById("classSelect").value;
        var subjectSelect = document.getElementById("subjectSelect").value;

        console.log("123")
        console.log(" subject:"+subjectSelect+" grade:"+classSelect)
        console.log("123")
        console.log(boxList.length)
        for(var i=0;i<boxList.length;i++)
        {
            //console.log(boxList[i])
            var subject = boxList[i].getElementsByClassName("subject")[0].text;
            var grade = boxList[i].getElementsByClassName("grade")[0].text;
            console.log(" subjectSelect:"+subjectSelect+" classSelect:"+classSelect)
            console.log(" subject:"+subject+" grade:"+grade)
            if((classSelect == "不限" || classSelect == grade) &&
                (subjectSelect == "不限" || subjectSelect == subject)){
                $(boxList[i]).show()
                //console.log("show")
            }
            else
            {
                $(boxList[i]).hide()
               // console.log("hide")
            }
        }

    }

    window.onload = function () {
        var titles = document.getElementById("right-guide").getElementsByTagName('li');
        var divs = document.getElementById("right-content").getElementsByClassName('mod');

        for (var i = 0; i < titles.length; i++) {
            titles[i].id = i;
            titles[i].onclick = function () {
                for (var j = 0; j < titles.length; j++) {
                    titles[j].className = ' ';
                    divs[j].style.display = 'none';
                }
                this.className = 'select';
                divs[this.id].style.display = 'block';
            }
        }
    }
    function addCourseSeries() {
        var courseSeriesName= $("#courseSeriesName").val();
        var courseSeriesIntro=$("#courseSeriesIntro").val();
        var courseSeriesGrade=$("#courseSeriesGrade").val();
        var courseSeriesNumber=$("#courseSeriesNumber").val();
//        var courseSeriesCourseName=[];
//        for(var i=0;i<courseSeriesNumber;i++){
//            courseSeriesCourseName.push($(".courseSeriesCourseName")[i].value);
//        }
        var data={
            courseSeriesName:courseSeriesName,
            courseSeriesIntro:courseSeriesIntro,
            courseSeriesGrade:courseSeriesGrade,
            courseSeriesNumber:courseSeriesNumber
            //courseSeriesCourseName:courseSeriesCourseName
        }
        console.log("data:"+JSON.stringify(data));
        $.post("addTemplate",data,function (ret) {
            console.log(ret)
            $("#hint").text(ret);
            var titles = document.getElementById("right-guide").getElementsByTagName('li');
            var divs = document.getElementById("right-content").getElementsByClassName('mod');
            for (var j = 0; j < titles.length; j++) {
                titles[j].className = ' ';
                divs[j].style.display = 'none';
            }
            titles[0].className = 'select';
            divs[0].style.display = 'block';
            //location.href=""
            window.location.reload();
        })
    }
</script>
